<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="footer-links">
                <a href="https://www.moviehai.icu/">Home</a>
                <a href="/pages/about.html">About</a>
                <a href="/pages/disclaimer.html">Disclaimer</a>
                <a href="/pages/terms.html">Terms of Service</a>
                <a href="/pages/privacy.html">Privacy Policy</a>
            </div>
        </div>
        <div class="col-md-6 text-md-end">
            <div class="social-icons mb-3">
                <a href="https://t.me/moviehai720p"><i class="fab fa-telegram"></i></a>
                <a href="https://t.me/moviehai720p"><i class="fab fa-facebook-f"></i></a>
                <a href="https://t.me/moviehai720p"><i class="fab fa-twitter"></i></a>
                <a href="https://t.me/moviehai720p"><i class="fab fa-instagram"></i></a>
                <a href="https://t.me/moviehai720p"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="copyright">
                &copy; 2025 MovieHai. All rights reserved.
            </div>
        </div>
    </div>
</div>